<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @subcategorium.nombre %>
</p>

<%= link_to 'Edit', edit_subcategorium_path(@subcategorium) %> |
<%= link_to 'Back', subcategoria_path %>
